<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Costura.Fody" version="4.1.0" targetFramework="net471" developmentDependency="true" />
  <package id="EE.FutureProof" version="2.0.0" targetFramework="net40" developmentDependency="true" />
  <package id="Fody" version="6.1.2" targetFramework="net471" developmentDependency="true" />
  <package id="PlayerIOClient-Signed" version="3.5.2" targetFramework="net471" />
</packages>