<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Costura.Fody" version="1.3.3.0" targetFramework="net40" developmentDependency="true" />
  <package id="EE.FutureProof" version="1.2.0" targetFramework="net40" />
  <package id="Fody" version="1.29.4" targetFramework="net40" developmentDependency="true" />
  <package id="NuProj" version="0.10.4-beta-gf7fc34e7d8" targetFramework="net4" developmentDependency="true" />
  <package id="NuProj.Common" version="0.10.4-beta" targetFramework="net4" developmentDependency="true" />
  <package id="PlayerIOClient-Signed" version="3.2.483" targetFramework="net40" />
</packages>